# sudo cp led_lights.service /etc/systemd/system/
# sudo systemctl start led_lights.service
# sudo systemctl stop led_lights.service
# sudo systemctl enable led_lights.service
# 

[Unit]
Description=Led lights
After=network.target

[Service]
ExecStart=/home/pi/LED_controller/led_main -c -s DISCO -n 100 -g 12 -p rgb
WorkingDirectory=/home/pi/LED_controller
StandardOutput=file:/home/pi/LED_controller/main.log
StandardError=file:/home/pi/LED_controller/error.log
Restart=always

[Install]
WantedBy=multi-user.target
